# Byte-compiled / optimized / DLL files
# __pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal

# Media and static files
/media
/staticfiles
/static/

# Local virtual environments
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*~
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints


