{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Homepage</title>
    <link rel="stylesheet" href="{% static 'frontend/css/personal_home.css' %}">
</head>
<body>
    <div class="container">
        <h2>Hello, {{ username }}!</h2>
        <p>Welcome to your personal homepage.</p>
        <p><a href="{% url 'personal_routeplanner' %}">Go to Route Planner</a></p>
        
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>

        <p><a href="{% url 'delete_account' %}">Delete Account</a></p>
    </div>
</body>
</html>
