{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'frontend/css/reset_password.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            
            <!-- Username -->
            <label for="username">Username:</label>
            <input type="text" name="username" required>

            <!-- Secret Question -->
            <label for="answer">Secret Question: {{ secret_question_form.question }}</label>
            <input type="text" name="answer" required>

            <!-- New Passwords -->
            <label for="new_password1">New Password:</label>
            <input type="password" name="new_password1" required>
            
            <label for="new_password2">Confirm New Password:</label>
            <input type="password" name="new_password2" required>

            <!-- Submit Button -->
            <button type="submit">Reset Password</button>
        </form>

        <!-- Back to Home -->
        <p><a href="{% url 'index' %}">Go back to Home</a></p>
    </div>
</body>
</html>
